/* 背景 */
body{background-color: #f4f4f4}

/* 滚动 */
.swiper-container img{width: 100%; display: block;}

/* 联系电话 */
.telephone{margin: 8px 5px; padding: 8px 0; background-color: #ea5946; border-radius: 5px; text-align: center; color: #FFF; display: block}

/* 菜单 */
.menu{padding:0; margin: 10px 0;}
.menu .item{width: 31%; display: block; float: left; margin-left: 1.75%; margin-bottom: 15px; height: 100px}
.menu .item .icon{font-size: 35px; line-height: 65px; text-align: center; color: #FFF;}
.menu .item .title{text-overflow: ellipsis; white-space: nowrap; overflow: hidden; line-height: 35px; margin: 0 auto; text-align: center; width: 100%; background-color: #FFF; font-size: 16px}
.menu .item:active{opacity: 0.6}

/* 颜色变化 */
.menu .item:nth-child(n) .icon{background-color: #d87570}
.menu .item:nth-child(2n) .icon{background-color: #bbd1c4}
.menu .item:nth-child(3n) .icon{background-color: #febf02}
.menu .item:nth-child(6n-2) .icon{background-color: #bc4040}
.menu .item:nth-child(6n-1) .icon{background-color: #6f9c97}
.menu .item:nth-child(6n) .icon{background-color: #ff8b00}


.footer{line-height: 50px; clear: both; text-align: center;}
.footer a{font-size: 12px; text-shadow:2px 2px 5px #FFF;}

/* 屏幕适配 */
/* 大于等于480 */
@media (min-width: 480px) {
  .menu .item .icon{font-size: 35px; top: 15%;}
  .menu .item .title{font-size: 16px; top: 50%;}
}

/* 大于等于600 */
@media (min-width: 600px) {
  .menu .item .icon{font-size: 40px; top: 18%;}
  .menu .item .title{font-size: 16px; top: 53%;}
}

/* 大于等于700 */
@media (min-width: 700px) {
  .menu .item .icon{font-size: 50px; top: 18%;}
  .menu .item .title{font-size: 20px; top: 53%;}
}

/* 小于等于300 */
@media (max-width: 300px) {
  .menu .item{width: 45.5%; margin-left: 3%}
  .menu .item .icon{font-size: 25px; top: 10%;}
  .menu .item .title{font-size: 12px; top: 40%;}
}
