body{font-size: 14px; background-color: #985e25}

.list{margin: 0px auto;}
.list .item{position: relative; display: flex; display: -webkit-flex; height: 130px; background: url(../img/bgright.jpg) no-repeat right top;}
.list .item:active{opacity: .8}
.list .item .item-tile{display: inline-flex; display: -webkit-inline-flex; flex: 1; -webkit-flex:1; position: relative}
.list .item .thumb{width: 80px; height: 130px}
.list .item .thumb img{max-width:60px; max-height:90px; margin:20px 10px; box-shadow: 5px -5px 5px rgba(60,0,0,0.5);}
.list .item .title{position: absolute;  width: 100%; line-height:30px; margin-top: 35px}
.list .item .headtitle{font-size: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 100%; color: #000}
.list .item .subtitle{width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.list .item .icon{display: inline-flex; display: -webkit-inline-flex; background: url(../img/bgleft.jpg) no-repeat; width: 30px; height: 130px}
.list .item .fix{display: inline-flex; display: -webkit-inline-flex; width: 25px}

.page{display: flex; display: -webkit-flex; margin: 15px}
.page .item{-webkit-flex:1; flex:1;}
.page .pagenum{text-align: center; line-height: 36px; color: #FFF}
.page .btn{display: block; text-align: center; background: #FFF; color: #985e25; padding: 8px 0; border-radius: 6px}
.page .btn:active{opacity: .5}

.footer{text-align: center; min-height: 30px; clear: both;}
.footer a{line-height: 50px}
