body{}

.headcover{border:4px solid #ff7054;}
.headcover img{width: 100%; display: block}
.article .title{clear: both; background-color: #FFF; padding: 0 0 10px 0;}
.article .title .t{font-size: 18px}
.article .title .time{color: #999}
.article .title .author{margin-left: 8px; color: #37a}

.article{background-color: #FFF}
.article .content{margin-top: 15px}
