body{font-size: 14px; background-color: #f2f3f7}

.list{margin: 0px}
.list .item{position: relative; display: flex; display: -webkit-flex; background: #f2f3f7}
.list .item:nth-child(2n){background: #e5e8ef}
.list .item:active{opacity: .8}
.list .item .item-tile{display: inline-flex; display: -webkit-inline-flex; flex: 1; -webkit-flex:1; position: relative}
.list .item .thumb{display: inline-flex; display: -webkit-inline-flex; width: 80px; height: 60px; overflow: hidden; position: relative}
.list .item .thumb:before{content: ""; display: block; position: absolute; width: 30px; height: 90px; right: -10px; top:0; background: #f2f3f7; -webkit-transform: rotate(20deg);}
.list .item:nth-child(2n) .thumb:before{background: #e5e8ef}
.list .item .thumb img{width: 100%}
.list .item .title{position: absolute;  width: 100%; margin-left: 10px; line-height:30px; color: #707070}
.list .item .headtitle{font-size: 16px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 100%}
.list .item .subtitle{width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.list .item .icon{display: inline-flex; display: -webkit-inline-flex; width: 12px}

.page{display: flex; display: -webkit-flex; margin: 15px}
.page .item{-webkit-flex:1; flex:1;}
.page .pagenum{text-align: center; line-height: 36px}
.page .btn{display: block; text-align: center; background: #FFF; padding: 8px 0; border-radius: 6px}
.page .btn:active{opacity: .5}

.footer{text-align: center; min-height: 30px; clear: both;}
.footer a{line-height: 50px}
